<!DOCTYPE html>
<html>
<head>
  <title>SeattleBeerClub</title>
  <%= javascript_include_tag "application.mobile" %>
  <%= stylesheet_link_tag    "application.mobile" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
